head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        meta(name="theme-color" content="#111111")

        meta(property="og:type" content="website")
        meta(property="og:title" content="Tobi Balogun")
        meta(property="og:site_name" content="Tobi Balogun")
        meta(property="og:url" content="https://tobiii.ninja")
        meta(property="og:image" content="https://tobiii.ninja/wp-content/themes/jespervos/assets/images/facebook.png")
        meta(property="og:image:width" content="2000")
        meta(property="og:image:height" content="1250")
        meta(property="og:description" content="Interaction designer creative developer.")

        meta(name="twitter:card" content="summary_large_image")
        meta(name="twitter:site" content="@cupofcrazy_")
        meta(name="twitter:creator" content="@cupofcrazy_")
        meta(name="twitter:title" content="Tobi Balogun")
        meta(name="twitter:description" content="Interaction designer, visual artist and creative developer.")
        